<table class="Table table">
  <tbody>
  <tr>
    <td>
      <p>Handlungsfeld</p>
    </td>
    <td>Berufliche Bildung</td>
  </tr>
  <tr>
    <td>
      <p>Aufgabe&nbsp;</p>
    </td>
    <td>Kontinuierliche Umsetzung der Konzeption „Medienbildung und Digitalisierung“ für den Bereich Berufliche Bildung bis zum Ende der Laufzeit des „DigitalPaktes Schule“ im Jahr 2024 (Federführung SMK)</td>
  </tr>
  <tr>
    <td>
      <p>Beschreibung der Maßnahme</p>
    </td>
    <td>Finanzierung schulplanübergreifender Medienbildungsprojekte</td>
  </tr>
  <tr>
    <td>
      <p>Prinzip</p>
    </td>
    <td>Teilhabe; Nachhaltigkeit; Resilienz</td>
  </tr>
  <tr>
    <td>
      <p>Federführung&nbsp;</p>
    </td>
    <td>SMK</td>
  </tr>
  <tr>
    <td>
      <p>Weitere Beteiligte Akteure&nbsp;</p>
    </td>
    <td>​LaSuB, Medienpädagogische Zentren​​</td>
  </tr>
  <tr>
    <td>
      <p>Weiterer Bezug&nbsp;</p>
    </td>
    <td>-</td>
  </tr>
  <tr>
    <td>
      <p>Art der Maßnahme&nbsp;</p>
    </td>
    <td>Förderung/ Finanzierung</td>
  </tr>
  <tr>
    <td>
      <p>Bestandteil des aktuellen Koalitionsvertrags&nbsp;</p>
    </td>
    <td>nein</td>
  </tr>
  <tr>
    <td>
      <p>Zukünftige Meilensteine&nbsp;&nbsp;</p>
    </td>
    <td>-</td>
  </tr>
  <tr>
    <td>
      <p>Zeitschiene für Umsetzung</p>
    </td>
    <td>Abschluss bis Ende 2024</td>
  </tr>
  <tr>
    <td>
      <p>Stand der Umsetzung&nbsp;</p>
    </td>
    <td>-</td>
  </tr>
  <tr>
    <td>
      <p>Förderrichtlinie zur Umsetzung&nbsp;</p>
    </td>
    <td>nein</td>
  </tr>
  </tbody>
</table>